*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter+Tight",sans-serif;
    text-transform: capitalize;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(228, 22, 94)

}
body::before {
    content: "";
    background-image: url(../img/banana-split.webp);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: -1;
    opacity: 0.2 ;
}

.corpo {
    width: 80%;
    height: 80%;
    display: flex;
    box-shadow: 5px 5px 10px rgb(0, 0,0,.212);
    border-radius: 20px;
    margin-top: 8rem;
}

.conteiner {
    width: 50%;
    display: flex;
    justify-content: center;
    background: #521722;
    padding: 1rem;
    border-radius: 20px 0px 0px 20px;
}

.conteiner img {
    width: 540px;
    height: 540px;
    margin-top: 40px;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(215, 41, 107);
    padding: 15px;
    border-radius: 0px 20px 20px 0px;
    color:white;
}


.header {
    margin-bottom: 10px;
    display: flex;
}
.header h1{
    margin-top: -8px;
    font-size: 27px;
}

.header h1::after {
    content: "";
    display: block;
    width: 5rem;
    height: 0.3rem;
    background: linear-gradient(90deg, #bc1e56 2%, rgba(231,10,81,1) 40%, rgba(248,3,67,1) 100%);
    margin: 0 auto;
    position:absolute;
    border-radius: 10px;
}

.titulo {
    display: flex;
    
}
.titulo h1::after {
    content: "";
    display: block;
    width: 5rem;
    height: 0.3rem;
    background: linear-gradient(90deg, #bc1e56 2%, rgba(231,10,81,1) 40%, rgba(248,3,67,1) 100%);
    margin: 0 auto;
    position:absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom:20px;
}

.input-box input {
    margin: 0.6 rem 0;
    padding:0.8rem 1.2rem;
    border:none;
    border-radius:10px;
    box-shadow:1px 1px 6px #0000001c;
}

.input-box input:hover {
    background: #eeeeee75;

}

.input-box input:focus-visible{
    outline: 1px solid rgba(231,10,81,1)
}

.input-box label , .gen-title {
    font-size: 1rem;
    font-weight: 600;
    color:#fffffff0
}

.gen-title ::after{
    content: "";
    display: block;
    width: 5rem;
    height: 0.3rem;
    background: linear-gradient(90deg, #bc1e56 2%, rgba(231,10,81,1) 40%, rgba(248,3,67,1) 100%);
    margin: 0 auto;
    position:absolute;
    border-radius: 10px;
}

.input-box input::placeholder{
    color: #1f1e1ec2;
}

.gen-group {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    padding: 0 0.5rem;
}


.gen-input {
    display: flex;
    align-items: center;
    
}
.gen-input input{
    margin-right: 5px;
 
}

.gen-input label {
    font-size:18px;
    font-weight:600;
    color: #ffffff;
}

.bnt {
    float: inline-end;
}
.bnt button{
    width:100%;
    margin-top: 2.5rem;
    border:none;
    background:#eb0671;
    padding:0.62rem;
    border-radius:5px;
    cursor: pointer;
    border: 1px white solid;

}
.bnt button:hover{
    background: #f94e8ff1;
}

.bnt button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 300;
    color: white;
}

